$white: #fff;
$black: #222;
$green: #a3c536;

@import url(http://fonts.googleapis.com/css?family=Orbitron|Pathway+Gothic+One);

@mixin font-stack-headers {
	font-family: Orbitron, Pathway Gothic One, $body-font-family;
}

@mixin font-stack-body {
	font-family: $body-font-family;
}