.module {
	padding-bottom: 3em;
	
	&:nth-of-type(2) {
		background-color: $green;
		border-top: 0.33em solid darken($green, 25%);
	}
}

header {
	margin-bottom: 2em;
	
	.logo {
		text-align: center;	
	
		img {
			padding: 1em;
		}
		
	}

	@media #{$medium-up} {
		.logo {
			a {
				text-align: left;
				display: flex;
				align-items: center;
			}

			img, .header { }
		}

	}

}

.shopping-list {

	img {
		width: 80%;
		max-width: 420px;
		display: block;
	}

}

footer {
	background-color: $green;
	padding-top: 1em;
	font-size: 0.8rem;
}

.colophon {
	text-align: right;
}