.screen-reader-response {
	display: none;
}

.wpcf7-form br {
	display: none;
}

.wpcf7-form-control-wrap {
	display: block;
}

.wpcf7-form-control {
	padding: $padding $padding/2;
}


.wpcf7-not-valid-tip {	
	background: $light-gray;
	border-radius: 5px;
	display: block;
	margin-top: 1em;
	padding: $padding/2;
	position: relative;
	width: 50%;
	
	animation: reveal 0.25s 1;
	
	&::after {
		content: "";
		position: absolute;
		top: -0.7rem;
		left: 0.7rem;
		border-right: solid 1rem transparent;
		border-bottom: solid 0.75rem $light-gray;
		border-left: solid 1rem transparent;
	}
}

@keyframes reveal {
	0% { 
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

input[type="submit"] {
	color: $white;
	padding: $padding*2 $padding*4;
	background: $blue;
	border: none;
}

.required {
	position: relative;
	
	&::before {
		content: "*";
		position: absolute;
		left: $padding * -1.5;
		color: red;
	}
}