.footer-wrap {
	background: $green;
}

.locations {
	margin-top: $padding * 2;
	margin-bottom: $padding * 4;
	@include grid-container();
}

[class*="location__"] {
	@include grid(1,4);
}

.country-name {
	display: none;
}