.footer-wrap {
	background: $green;
}

.locations {
	margin-top: $padding * 3;
	margin-bottom: $padding * 8;

	

	@include grid-container();
}

[class*="location__"] {
	@include grid(1,4);

	font-style: normal;
}

.country-name {
	display: none;
}