header {
	a {
		color: $black;
	}

	.title, .tagline {
		margin: 0;
	}

	.title { text-transform: uppercase; }

	.tagline {
		font-size: 1.5em;
	}

}

.header {
	
	display: table;

	&__img, &__text {
		display: table-cell;
	}

	&__img { text-align: center; }

	&__text { vertical-align: middle; }

}

.header__img img {
	width: 6em;

	@include breakpoint(medium) {
		width: 8em
	}

	@include breakpoint(large) {
		width: 10em
	}
}

.page-title .first-letter {
	color: red;
}