nav {
	line-height: 1;
}

nav a {
	color: $black;
	text-decoration: none;
}

.main-nav {
	background: $dark-gray;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
	position: relative;

	// a {
	// 	align-self: center;
	// 	display: table;
	// 	color: $white;
	// 	text-align: center;
	// 	width: (100%/7);

	// 	&:active {
	// 		color: $green;
	// 	}

	// 	&:hover {
	// 		background: $black;
	// 	}

	// 	span {
	// 		display: table-cell;
	// 		vertical-align: middle;

	// 		font-size: 1rem;
	// 		height: 3em;
	// 	}
	// }

}

[class*="main-nav__link"] {
	align-self: center;
	color: $white;
	display: table;
	text-align: center;
	width: (100%/7);

	&:hover { background: $black; }

	&:active { color: $green; }

	span {
		display: table-cell;
		font-size: 1rem;
		height: 3em;
		vertical-align: middle;
	}
}

[class*="main-nav__link"].current {
	background: $green;

	&:hover { background: $dark-green; }

	
}

.main-nav__link--has-active-sub {
	background: $black;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		height: 0.5rem;
		width: 100%;
		left: 0;
		bottom: 0;
		background: $blue;
	}
}

.main-nav__sub-list {
	position: absolute;
	font-size: 1rem;
	left: 0;
	top: 3em;
	width: 100%;

	border-bottom: double 4px $dark-gray;

	padding: 1em 0;

	a {
		color: $black;
		display: inline-block;
		padding-right: 3em;
		padding-left: 1em;
		text-align: left;
		width: auto;

		&:hover {
			color: $green;
			background: none;
		}
	}
	

}

.is-hidden { visibility: hidden; }



.e-auto-wrap {
	width: 100%;
	background: $dark-gray;
}

.e-auto-nav {
	float:right;
	font-size: 0;

	a {
		border-left: solid 1px $white;
		color: $white;
		display: inline-block;
		font-size: 0.8rem;
		padding: 1em;

		&:first-of-type {
			border: none;
		}

		&:hover {
			background: $black;
		}
	}



}

.footer-nav {
	margin-bottom: $padding * 4;

	a {
		padding-right: $padding * 2;
		padding-left: $padding * 2;
	
		border-right: solid 1px $black;

		&:last-of-type {
			border-right: none;
		}

		&:hover {
			text-decoration: underline;
		}

	}
}