.timeline {
	position: relative;
}

.timeline__header,
.timeline__footer {
	@include bigify;
	text-align: center;
	font-style: italic;
}

.timeline__header { margin-bottom: 2em; }
.timeline__footer { margin-top: 2em; }

.timeline__path {
	position: absolute;
	top: -2.5rem;
	z-index: -100;
	border-right: dotted 5px black;

	@include breakpoint(medium) {
		height: 102%;
		width: 51.5%;
	}

	@include breakpoint(large) {
		width: 51.5%;
	}

	@include breakpoint(xlarge) {
		width: 51.5%;
	}
}

.milestone-wrap {
	position: relative;
}

.milestone {
	display: block;
	margin-bottom: $padding * 4;

	@include breakpoint(medium) {
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		align-items: flex-start;
	}

}

.milestone__body,
.milestone__img {
		width: 100%;
		margin-bottom: $padding * 3;
		@include breakpoint(medium) { width: 45%; }
	}
	
.milestone__body {
		background: $dark-gray;
		
		order: 1;
	}

.milestone__year {
		@include bigify;
		font-style: italic;
		background: $green;
		padding: $padding/2 $padding*2;
		margin: 0;
	}

.milestone__content {
	color: $white;
	padding: $padding*3 $padding*2;
	margin: 0;
}

.milestone__indicator {
	display: none;

	@include breakpoint(medium) {
		display: block;
		background: $dark-gray;
		width: $padding * 4;
		height: $padding * 4;
		border-radius: 50%;

		order: 2;

		margin-top: 1rem;

		position: relative;

		&:after {
			content: " ";
			position: absolute;
			z-index: -10;

			top: -$padding;
			left: -$padding;

			background: $green;
			width: $padding * 6;
			height: $padding * 6;
			border-radius: 50%;
		}
	}
}

.milestone__img {
	order: 3;

	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}


.milestone:after {
	content: "";
	display: table;
	clear: both;
}

.milestone:nth-of-type(2n - 1) {
		.milestone__body { order: 3; }
		.milestone__img  { order: 1; }
}

