html {
	@include font-stack-body;
	font-size: 13px;
	line-height: 1.5;
	color: $black;

	@include breakpoint(medium) {
		font-size: 15px;
	}

	@include breakpoint(large) {
		font-size: 17px;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include font-stack-headers;
}

h1 {
	font-size: 1.9em;
	line-height: 1.2;

	@include breakpoint(medium) {
		font-size: 2.2em;
	}

	@include breakpoint(large) {
		font-size: 2.5em;
	}
}

h2 {
	font-size: 1.2em;

	@include breakpoint(medium) {
		font-size: 1.4em;
	}

	@include breakpoint(large) {
		font-size: 1.6em;
	}
}

h4 {
	font-size: 1.2em
}

footer {
	font-size: 1em;
}

@mixin bigify() {
	font-size: 2em;
	font-weight: 700;
}