.module {
	margin: 1em 0 2em;

	h2 {
		position: relative;
		margin-bottom: 1em;
		color: $gem-green;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -0.25em;

			background: $gem-green;
			width: 95%;
			height: 1px;

			@media #{$medium-only} { width: 85%; }

			@media #{$large-up} { width: 75%; }
		}
	}


}