.content {
	margin-top: 1.5em;
}

.manufacturer {
	@include grid-column(
		// Control the number of columns
		$columns:12,
		// Specify whether or not this is the last column in the row
		// $last-column:true,
		// Choose whether or not to center this column
		$center:true
		// Choose the number of columns to offset this element by
		// $offset:3,
		// Specify hows many columns to push this element past
		// $push:3,
		// Specify how many columns to pull this element past
		// $pull:9,
		// Set to true to remove column padding
		// $collapse:true,
		// Specify the float direction
		// $float:right
	);

	display: table;
	text-align: center;

	@media #{$large-up} {
				@include grid-column( $columns:4 );
	}

	a {
		display: table-cell;
		vertical-align: center;
	}
	
	img {
		max-height: 200px;
	}
}
.manufacturer-list {

	margin-bottom: 4em;

	img {
		max-height: 120px;
	// 	max-width: 300px;
	// 	margin-right: 2em;
	}

}