header {
	margin: 3em 0 1.5em;

	.logo {
		text-align: center;

		img {
			// margin: 1.25em 0;
		}

		.logo__text {
			margin-top: 2em;
		}
	}

	@media #{$medium-up} {
		.logo {
			.logo__text {
				margin-top: 2.5em;
			}
		}
	}
	
	@media #{$large-up} {
		margin-bottom: 3em;
		
		.logo {
			display: table;
			text-align: left;

			img {
				margin-right: 1.25em;
			}

			.logo__text {
				display: table-cell;
				vertical-align: center;
			}
		}

	}

}