.top-bar-section { 
	li.mdpc {
		a:not(.button) {
			background: $primary-color;

			&:hover {
				background: scale-color($primary-color, $lightness: -14%);
			}
		}
	}
}

.footer-nav {	
	margin-left: 0;
	list-style: none;

	@media #{$medium-up} {
		@include inline-list;
	}
}